//color variables
$buttons-primary: #75ca60;
$backgrounds: #202020;
$text-main: #eeeeee;
$titles: #cf6628;
$buttons-primary-text: #141414;
$borders: #dffd71;

//google fonts
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');


//font variables
$main-font: 'Anek Tamil', sans-serif;
$titles-font: 'Lobster', cursive;

.navbar-brand, h1, .nav-link, .titles{
  color: $titles !important;
  font-family: $titles-font !important;
.custom-icon{
  color: $borders !important;
}
  
}

.navbar-brand, .nav-link, .custom-card-title{
  font-size: 1.7rem !important;
}

.navbar-brand{
  font-size: 4rem !important;
}

p, .card-text{
  color: $text-main;
}

*{
  background-color: $backgrounds;
  font-family: $main-font !important;
}

.custom-btn {
  background-color: $buttons-primary !important;
    border-color: $buttons-primary !important;
    color: $buttons-primary-text !important
}
.card{
  border: 2px solid $borders !important;
}
.extra-info{
zoom: 0.8
}
